projectG01/proj1/bolsa/data/schemas/portefolios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="portfolios" type="portfoliosType"/>
  <xs:complexType name="stockType">
    <xs:sequence>
      <xs:element name="symbol">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="quantity" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="dateType" name="date" minOccurs="0"/>
      <xs:element name="amount" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletType">
    <xs:sequence>
      <xs:element type="stockType" name="stock" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dateType">
    <xs:sequence>
      <xs:element name="day">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
              <xs:totalDigits value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
        <xs:element name="month">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
              <xs:totalDigits value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
        <xs:element name="year">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
              <xs:totalDigits value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buyType">
    <xs:sequence>
      <xs:element type="stockType" name="stock"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buysType">
    <xs:sequence>
      <xs:element type="buyType" name="buy" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sellType">
    <xs:sequence>
      <xs:element type="stockType" name="stock"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sellsType">
    <xs:sequence>
      <xs:element type="sellType" name="sell"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portfolioType">
    <xs:sequence>
      <xs:element type="xs:integer" name="idUser"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:integer" name="money"/>
      <xs:element type="walletType" name="wallet"/>
      <xs:element type="buysType" name="buys"/>
      <xs:element type="sellsType" name="sells"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portfoliosType">
    <xs:sequence>
      <xs:element type="portfolioType" name="portfolio"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>